/* GLOBAL CLASSES */

.main-text {
	color: #fff;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}


/* Horizontal Scrollbar */


.spoti-horizontal-scrollbar::-webkit-scrollbar {
	height: 3px;
	cursor: pointer;
}
.spoti-horizontal-scrollbar::-webkit-scrollbar-track {
	background-color: #000000;
	cursor: pointer;
}
.spoti-horizontal-scrollbar::-webkit-scrollbar-thumb {
	cursor: pointer;
	background-color: #1db954;
}

/* Vertical Scrollbar */

.spotify-vertical-scrollbar::-webkit-scrollbar {
    width: 2px;
    cursor: pointer;
}
.spotify-vertical-scrollbar::-webkit-scrollbar-track {
    background-color: #000000;
    cursor: pointer;
}
.spotify-vertical-scrollbar::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #1DB954;
}